<!--Add listing-->
<section class="sptb">
  <div class="container">
    <div class="row">

      <div class="col-xl-3 col-lg-4 col-md-12">
        <app-filter (products)="setProducts($event)"></app-filter>
      </div>
      <!--Add lists-->
      <div class="col-xl-9 col-lg-8 col-md-12">
        <div class=" mb-lg-0">
          <div class="">
            <div class="item2-gl ">
              <div class=" mb-0">
                <div class="">
                  <div class="bg-white p-5 item2-gl-nav d-flex">
                    <h6 class="mb-0 mt-2">{{ 'Total Product Record is ' | translate }} {{totalItems}}</h6>
                    <ul class="nav item2-gl-menu ml-auto">
                      <li class=""><a href="#tab-11" class="active show" data-toggle="tab" title="List style"><i
                        class="fa fa-list"></i></a></li>
                      <li><a href="#tab-12" data-toggle="tab" class="" title="Grid"><i class="fa fa-th"></i></a></li>
                    </ul>
                    <div class="d-flex">
                      <label class="mr-2 mt-1 mb-sm-1">Sort By:</label>
                      <select name="item" class="form-control select-sm w-70">
                        <option value="1">Latest</option>
                        <option value="2">Oldest</option>
                        <option value="3">Price:Low-to-High</option>
                        <option value="5">Price:Hight-to-Low</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="tab-11">
                  <!--ONE-->
                  <div class="card overflow-hidden"
                       *ngFor="let product of products  |  paginate: { id: 'server', itemsPerPage: 9, currentPage: currentPage, totalItems: totalItems }">

                    <div class="d-md-flex">
                      <div class="item-card9-img">

                        <div class="item-card9-imgs">
                          <a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]"></a>
                          <img *ngIf="product.path" src="{{baseUrl+product.path}}" alt="img" class="cover-image">
                          <img *ngIf="!product.path" src="https://via.placeholder.com/267x226?=Çiftçi+Pazaryeri"
                               alt="img" class="cover-image">
                        </div>
                        <!--      <div class="item-card9-icons">
                                <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
                              </div>-->
                      </div>
                      <div class="card border-0 mb-0">
                        <div class="card-body ">
                          <div class="item-card9">
                            <a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]" class="text-dark"><h4
                              class="font-weight-semibold mt-1">
                              {{product.detailed_name}}
                            </h4>
                            </a>
                            <ul class="item-cards7-ic mb-0">
                              <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]"><span class="text-muted"><i
                                class="icon icon-people mr-1"></i> {{product.producer_name}}</span></a>
                              </li>
                              <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]" class="icons"><i
                                class="icon icon-location-pin text-muted mr-1"></i> {{product.city_name}}
                                / {{product.district_name}}</a>
                              </li>
                              <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]"  class="icons"><i
                                class="icon icon-people text-muted mr-1"></i> {{product.producer_type_name}}</a>
                              </li>
                              <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]"  class="icons"><i
                                class="icon icon-feed text-muted mr-1"></i> {{product.category_name}}
                                / {{product.parent_name}}</a>
                              </li>
                              <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]"  class="icons"><i
                                class="icon icon-share text-muted mr-1"></i> {{product.production_type}}</a>
                              </li>
                              <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]"  class="icons"><i class="icon icon-event text-muted mr-1"></i>
                                {{dateFormat(product.created_at)}}
                              </a>
                              </li>

                            </ul>
                          </div>
                        </div>
                        <div class="card-footer pt-4 pb-4">
                          <div class="item-card9-footer d-flex">
                            <div class="item-card9-cost">
                              <h4
                                class="text-dark font-weight-semibold mb-0 mt-0">{{product.price}} {{'$' | translate}}
                                / {{product.total_amount}} {{product.total_amount_quantity}} </h4>
                            </div>
                            <div class="ml-auto">
                              <div class="rating-stars block">
                                <input type="number" readonly="readonly" class="rating-value star"
                                       name="rating-stars-value" value="3">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>


                <div class="tab-pane" id="tab-12">
                  <div class="row">


                    <div class="col-lg-6 col-md-12 col-xl-4"
                         *ngFor="let product of products  | paginate: { id: 'server', itemsPerPage: 9, currentPage: currentPage, totalItems: totalItems }">

                      <div class="item box-shadow">
                        <div class="card card mb-0 ">
                        <span class="ribbon-1">
													<span><i class="fa fa-cutlery"></i></span>
												</span>
                          <div class="item-card7-imgs">
                            <a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]" ></a>
                            <img *ngIf="product.path" src="{{baseUrl + product.path}}" alt="img"
                                 class="cover-image">
                            <img *ngIf="!product.path"
                                 src="https://via.placeholder.com/267x226?=Çiftçi+Pazaryeri" alt="img"
                                 class="cover-image">
                          </div>
                          <div class="item-card7-overlaytext">
                            <!--     <a href="#" class="text-white"> {{product.total_amount}} {{product.total_amount_quantity}} </a>-->
                            <h4 class="mb-0">{{product.price}} {{'$' | translate}}
                              / {{product.total_amount}} {{product.total_amount_quantity}}</h4>
                          </div>
                          <div class="pm card-body">
                            <div class="item-card7-desc">
                              <div class="item-card7-text">
                                <a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]"  class="text-dark"><h4>
                                  {{product.detailed_name}}</h4>
                                </a>
                              </div>
                              <ul class="item-cards7-ic mb-0">
                                <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]" ><span class="text-muted"><i
                                  class="fa fa-balance-scale"></i> {{product.total_amount}} {{product.total_amount_quantity}}</span></a>
                                </li>
                                <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]"  class="icons"><i
                                  class="fa fa-map-marker mr-1"></i> {{product.city_name}}
                                  / {{product.district_name}}</a></li>
                                <!-- <li><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 14 675 65430</a></li>-->
                              </ul>

                            </div>
                          </div>
                          <div class="card-footer pm-footer">
                            <div class="footerimg d-flex mt-0 mb-0">
                              <div class="d-flex footerimg-l mb-0">
                                <!--     <img src="/assets//images/faces/male/17.jpg" alt="image" class="avatar brround  mr-2">-->
                                <i class="icon icon-people mt-1 mr-1"></i>
                                <h5
                                  class="time-title text-muted p-0 leading-normal mt-0 mb-0">{{product.producer_name}}
                                  <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip"
                                     data-placement="top" title="verified"></i></h5>
                              </div>
                              <div class="mt-2 footerimg-r ml-auto">
                                <a [routerLink]="['/products/detail/',product.producer_address_id,product.slug,product.detailed_name_slug,product.city_name_slug]"  class="text-muted" data-toggle="tooltip" data-placement="top"
                                   title="Add Wishlist"><i class="fa fa-heart"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="center-block text-center">
              <pagination-controls
                previousLabel="{{'Previous' | translate}}"
                nextLabel="{{'Next' | translate}}"
                responsive='true'
                (pageChange)="pageChange($event)" id="server">
              </pagination-controls>


            </div>
          </div>
        </div>
      </div>
      <!--/Add lists-->


    </div>
  </div>
</section>
<!--Add Listing-->
