<!--Add listing-->
<section class="sptb">
  <div class="container">
    <div class="row">

      <div class="col-xl-3 col-lg-4 col-md-12">
        <app-filter (products)="setProducts($event)"></app-filter>
      </div>
      <!--Add lists-->
      <div class="col-xl-9 col-lg-8 col-md-12">
        <div class=" mb-lg-0">
          <div class="">
            <div class="item2-gl ">
              <div class=" mb-0">
                <div class="">
                  <div class="bg-white p-5 item2-gl-nav d-flex">
                    <h6 class="mb-0 mt-2">Showing 1 to 10 of 30 entries</h6>
                    <ul class="nav item2-gl-menu ml-auto">
                      <li class=""><a href="#tab-11" class="active show" data-toggle="tab" title="List style"><i
                        class="fa fa-list"></i></a></li>
                      <li><a href="#tab-12" data-toggle="tab" class="" title="Grid"><i class="fa fa-th"></i></a></li>
                    </ul>
                    <div class="d-flex">
                      <label class="mr-2 mt-1 mb-sm-1">Sort By:</label>
                      <select name="item" class="form-control select-sm w-70">
                        <option value="1">Latest</option>
                        <option value="2">Oldest</option>
                        <option value="3">Price:Low-to-High</option>
                        <option value="5">Price:Hight-to-Low</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="tab-11">
                  <!--ONE-->
                  <div class="card overflow-hidden"
                       *ngFor="let product of products  |  paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }">

                    <div class="d-md-flex">
                      <div class="item-card9-img">
                        <div class="arrow-ribbon bg-primary">Rent</div>
                        <div class="item-card9-imgs">
                          <a href="classified.html"></a>
                          <img src="../../assets/images/products/h4.png" alt="img" class="cover-image">
                        </div>
                        <div class="item-card9-icons">
                          <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
                        </div>
                      </div>
                      <div class="card border-0 mb-0">
                        <div class="card-body ">
                          <div class="item-card9">
                            <a href="classified.html">RealEstate</a>
                            <a href="classified.html" class="text-dark"><h4 class="font-weight-semibold mt-1">2BK
                              flat </h4></a>
                            <p class="mb-0 leading-tight">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                              corporis suscipit</p>
                          </div>
                        </div>
                        <div class="card-footer pt-4 pb-4">
                          <div class="item-card9-footer d-flex">
                            <div class="item-card9-cost">
                              <h4 class="text-dark font-weight-semibold mb-0 mt-0">$263.99</h4>
                            </div>
                            <div class="ml-auto">
                              <div class="rating-stars block">
                                <input type="number" readonly="readonly" class="rating-value star"
                                       name="rating-stars-value" value="3">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="tab-pane" id="tab-12">
                  <div class="row">


                    <div class="col-lg-6 col-md-12 col-xl-4"
                         *ngFor="let product of products  | paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }">
                      <div class="card overflow-hidden">
                        <div class="item-card9-img">
                          <div class="arrow-ribbon bg-primary">Rent</div>
                          <div class="item-card9-imgs">
                            <a href="classified.html"></a>
                            <img src="../../assets/images/products/h4.png" alt="img" class="cover-image">
                          </div>
                          <div class="item-card9-icons">
                            <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="item-card9">
                            <a href="classified.html">RealEstate</a>
                            <a href="classified.html" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">2BK
                              flat </h4></a>
                            <p>Ut enim ad minima veniamq nostrum exerci ullam orisin suscipit laboriosam</p>
                            <div class="item-card9-desc">
                              <a href="#" class="mr-4"><span class=""><i class="fa fa-map-marker text-muted mr-1"></i> USA</span></a>
                              <a href="#" class=""><span class=""><i class="fa fa-calendar-o text-muted mr-1"></i> Nov-15-2019</span></a>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="item-card9-footer d-flex">
                            <div class="item-card9-cost">
                              <h4 class="text-dark font-weight-semibold mb-0 mt-0">$263.99</h4>
                            </div>
                            <div class="ml-auto">
                              <div class="rating-stars block">
                                <input type="number" readonly="readonly" class="rating-value star"
                                       name="rating-stars-value" value="3">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="center-block text-center">
              <pagination-controls
                                   previousLabel="{{'Previous' | translate}}"
                                   nextLabel="{{'Next' | translate}}"
                                   responsive='true'
                                   (pageChange)="pageChange($event)" id="server">
              </pagination-controls>


            </div>
          </div>
        </div>
      </div>
      <!--/Add lists-->


    </div>
  </div>
</section>
<!--Add Listing-->
