.pm{
  padding: 15px 0px 0px 15px !important;

}
.pm-footer{
  padding: 3px 3px 3px 15px !important;

}

.item-card7-desc ul li {
  margin-right: 1rem;
  font-size: 13px;
  width: 100% !important;
}

.item-cards7-ic {
  li{
    width: 33% !important;
  }
}
