
        <div class="card mb-0">
          <div class="card-header">
            <h3 class="card-title">My Ads</h3>
          </div>
          <div class="card-body">
            <h4 class="mb-4 font-weight-bold">Personal Information</h4>
            <form class="form-horizontal">
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Visual Editor</label>
                  </div>
                  <div class="col-md-9">
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                        <span class="custom-control-label">Enable the visual editor when writing</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Show Featured Slider</label>
                  </div>
                  <div class="col-md-9">
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                        <span class="custom-control-label">Enable syntax highlighting when editing code</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Keyboard Shortcuts</label>
                  </div>
                  <div class="col-md-9">
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                        <span class="custom-control-label">Enable Keyboard Shortcuts for Comment moderation. <a href="#" class="text-primary"> More information</a></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Toolbar</label>
                  </div>
                  <div class="col-md-9">
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked>
                        <span class="custom-control-label">Show Toolbar when Viewing site</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Language</label>
                  </div>
                  <div class="col-md-9">
                    <select class="form-control">
                      <option selected="">Site Default</option>
                      <option>Us English</option>
                      <option>Arabic</option>
                      <option>Korean</option>
                    </select>
                  </div>
                </div>
              </div>
              <h4 class="mb-4 font-weight-bold">Name</h4>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">User Name</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="Claylist" disabled>
                    <span class="text-muted">user names cannot changed</span>
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">First Name</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">last Name</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Nick Name</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="Claylist">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Display name publicly as</label>
                  </div>
                  <div class="col-md-9">
                    <select class="form-control">
                      <option selected="">test</option>
                      <option>test123</option>
                      <option>test234</option>
                    </select>
                  </div>
                </div>
              </div>
              <h4 class="mb-4 font-weight-bold">Contact Info</h4>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Email<i>(required)</i></label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="info@Claylist.in">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Website</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="https://Claylist.com">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Twitter</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="https://twitter.com/Claylist">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Facebook</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="https://www.facebook.com/Claylist">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Google+</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Twitter username (without@)</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Facebook profile Url</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Google plus</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Pinterst</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Phone</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control"  placeholder="000-000-000">
                  </div>
                </div>
              </div>
              <h4 class="mb-4 font-weight-bold">About Yourself</h4>
              <div class="form-group ">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Biographical Info</label>
                  </div>
                  <div class="col-md-9">
                    <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="">idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.</textarea>
                  </div>
                </div>
              </div>
              <h4 class="mb-4 font-weight-bold">Email Preferences</h4>
              <div class="form-group mb-0">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Verified User</label>
                  </div>
                  <div class="col-md-9">
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked >
                        <span class="custom-control-label">Accept to receive post or page notification emails</span>
                      </label>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked >
                        <span class="custom-control-label">Accept to receive email sent to multiple recipients </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary waves-effect waves-light">Update Profile</button>
          </div>
        </div>


