
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
        <div class="single-page w-100 p-0">
          <div class="wrapper wrapper2">

              <form id="forgotpsd" class="card-body" #RequestResetForm=ngForm (ngSubmit)="onSubmit()">

              <h3 class="pb-2">{{'Forgot password' | translate}}</h3>
                <app-alert *ngIf="messages.length > 0 "
                           [alertData]="messages"
                           [alertStatus]="status">
                </app-alert>
              <div class="mail">
                <input type="email" name="mail" [(ngModel)]="form.email" required>
                <label>{{'Email' | translate}}</label>
              </div>
              <div class="submit">
                <button class="btn btn-primary btn-block" [disabled]="!RequestResetForm.valid">
                  {{'Send' | translate}}
                </button>
              </div>
              <div class="text-center text-dark mb-0">
                <a [routerLink]="['/register']" >{{'Sign In' | translate}}</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
