
  <div class="card mb-0">
    <div class="card-header">
      <h3 class="card-title">{{'My Adv' | translate}}</h3>
    </div>
    <div class="card-body">
      <div class="ads-tabs">
        <div class="tabs-menus">
          <!-- Tabs -->
          <ul class="nav panel-tabs">
            <li class=""><a [routerLink]="['/profile/product-add']" class="btn btn-success text-white bg-success "
                            data-toggle="tab"><i class="fa fa-plus"></i> {{'Add Product' | translate}}</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active table-responsive border-top userprof-tab" id="tab1">
            <table class="table table-bordered table-hover mb-0 text-nowrap">
              <thead>
              <tr>
                <th>{{'Description' | translate}}</th>
                <th>{{'Category' | translate}}</th>
                <th>{{'Price' | translate}}</th>
                <th>{{'Status' | translate}}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>


              <tr *ngFor="let product of products">
                <td>
                  <div class="media mt-0 mb-0">
                    <div class="media-body">
                      <div class="card-item-desc ml-4 p-0 mt-2">
                        <a href="#" class="text-dark"><h4 class="font-weight-semibold">
                          {{product.description}}
                        </h4></a>
                        <a href="#"><i class="fa fa-clock-o mr-1"></i>
                          {{dateFormat(product.created_at)}}
                        </a><br>
                        <i class="fa fa-map mr-1"></i>
                        {{product.producer_address.city_name}} {{ product.producer_address.district_name}}

                      </div>
                    </div>
                  </div>
                </td>
                <td>{{product.fruit_and_vegetable_sub_group.name}}</td>
                <td class="font-weight-semibold fs-16">{{product.price}} {{product.price_per_quantity}}</td>
                <td>
                  <a href="#" class="badge badge-warning">{{'Published' | translate}}</a>
                </td>
                <td>
                  <a [routerLink]="['/profile/product-edit',product.producer_address_id,product.fruit_and_vegetable_sub_group.slug]" class="btn btn-success btn-sm text-white m-2" data-toggle="tooltip" data-original-title="Edit"><i
                    class="fa fa-pencil"></i></a>
                  <a [routerLink]="['/profile/product-delete']" class="btn btn-danger btn-sm text-white m-2" data-toggle="tooltip" data-original-title="Delete"><i
                    class="fa fa-trash-o"></i></a>

                </td>
              </tr>


              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

