
<section class="sptb pb-0">
  <div class="container">
    <app-product-item></app-product-item>
  </div>
</section>


<div class="container text-center">
<div class="row text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <div class="panel price  panel-color br-2 overflow-hidden text-center">
      <div class="panel-footer text-center">
        <a class="btn btn-lg btn-success btn-block text-center" href="#"><i class="fa fa-plus-circle"></i> {{'All Product' | translate}}</a>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
</div>

<div class="col-md-12 col-lg-12">
  <div class="card">
    <div class="card-body">
      <div class="jumbotron">

        <h3 class="display-6 text-center">{{'Farmers Marketplace is a sustainable e-commerce platform that aims to sell farmers and suppliers of fruit, vegetables and other agricultural products at the value they deserve, and to enable buyers to access these products at an affordable price.' | translate}}</h3>

        <p class="lead m-0 text-center">
          <a class="btn btn-primary btn-lg" href="#" role="button">{{'Add Product' | translate}} <i class="fa fa-plus-circle"></i> {{'Free Adv' | translate}}</a>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img src="http://www.ciftcipazaryeri.com/images/ciftcipazaryeri-brosur-01.png" alt="">
    </div>
  </div>
</div>


<div class="col-md-12 col-lg-12">
  <div class="card">
    <div class="card-body">
      <div class="jumbotron">

        <h3 class="display-6 text-center">{{'It is very easy to sell agricultural products with the Farmers Marketplace.' | translate}}</h3>

        <p class="lead m-0 text-center">
          <a class="btn btn-primary btn-lg" href="#" role="button">Add Product <i class="fa fa-plus-circle"></i> Free Adv</a>
        </p>
      </div>
    </div>
  </div>
</div>



