<!--Topbar-->
<div class="header-main">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
          <div class="top-bar-left d-flex">
            <div class="clearfix">
              <ul class="socials">
                <li>
                  <a class="social-icon text-dark" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a class="social-icon text-dark" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a class="social-icon text-dark" href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a class="social-icon text-dark" href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
            <div class="clearfix">
              <ul class="contact border-left">
                <li class="mr-5 d-lg-none">
                  <a href="#" class="callnumber text-dark"><span><i
                    class="fa fa-phone mr-1"></i>: {{'mobile_phone'}}</span></a>
                </li>
                <li>
                  <div class="dropdown d-none d-md-flex country-selector">
                    <a [routerLink]="['/en']" class="d-flex nav-link leading-none" data-toggle="dropdown">
                      <img src="../../assets/images/us_flag.jpg" alt="img"
                           class="avatar avatar-xs mr-1 align-self-center">
                      <div>
                        <strong class="text-dark">{{'English' | translate}}</strong>
                      </div>
                    </a>
                    <div class="language-width dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a [routerLink]="['/']" class="dropdown-item d-flex pb-3">
                        <img src="../../assets/images/flags/tr.svg" alt="flag-img"
                             class="avatar  mr-3 align-self-center">
                        <div>
                          <strong>{{'Türkçe' | translate}}</strong>
                        </div>
                      </a>
                      <a [routerLink]="['/']" class="dropdown-item d-flex pb-3">
                        <img src="../../assets/images/germany_flag.jpg" alt="flag-img"
                             class="avatar  mr-3 align-self-center">
                        <div>
                          <strong>{{'Germany' | translate}}</strong>
                        </div>
                      </a>
                      <a [routerLink]="['/']" class="dropdown-item d-flex pb-3">
                        <img src="../../assets/images/italy_flag.jpg" alt="flag-img"
                             class="avatar  mr-3 align-self-center">
                        <div>
                          <strong>{{'Italy' | translate}}</strong>
                        </div>
                      </a>
                      <a [routerLink]="['/']" class="dropdown-item d-flex pb-3">
                        <img src="../../assets/images/spain_flag.jpg" alt="flag-img"
                             class="avatar  mr-3 align-self-center">
                        <div>
                          <strong>{{'Spain' | translate}}</strong>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
          <div class="top-bar-right">
            <ul class="custom">
              <li>
                <a [routerLink]="['/login']" class="text-dark"><i class="fa fa-user mr-1"></i>
                  <span>{{'Register'| translate}}</span></a>
              </li>
              <li>
                <a [routerLink]="['/login']" class="text-dark"><i class="fa fa-sign-in mr-1"></i>
                  <span>{{'Login'| translate}}</span></a>
              </li>
              <li class="dropdown">
                <a [routerLink]="['/profile']" class="text-dark" data-toggle="dropdown"><i
                  class="fa fa-home mr-1"></i><span> {{'My Account'| translate}}</span></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                  <a [routerLink]="['/']" class="dropdown-item">
                    <i class="dropdown-icon icon icon-user"></i> {{'My Profile'| translate}}
                  </a>
                  <a [routerLink]="['/profile']" class="dropdown-item">
                    <i class="dropdown-icon  icon icon-settings"></i> {{'Account Settings'| translate}}
                  </a>
                  <a class="dropdown-item" [routerLink]="['/']">
                    <i class="dropdown-icon icon icon-power"></i> {{'Log out'| translate}}
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Header -->
  <div class="horizontal-header clearfix ">
    <div class="container">
      <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
      <span class="smllogo"><img src="assets/images/brand/logo.png" width="120" alt=""/></span>
      <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
    </div>
  </div>
  <!-- /Mobile Header -->

  <div class="horizontal-main bg-dark-transparent clearfix">
    <div class="horizontal-mainwrapper container clearfix">
      <div class="desktoplogo">
        <a [routerLink]="['/']"><img src="assets/images/brand/logo1.png" alt=""></a>
      </div>
      <div class="desktoplogo-1">
        <a [routerLink]="['/']"><img src="assets/images/brand/logo.png" alt=""></a>
      </div>



      <!--Nav-->
      <nav class="horizontalMenu clearfix d-md-flex">



        <ul class="horizontalMenu-list">
          <li aria-haspopup="true"><a [routerLink]="['/']" class="active">{{'Home'|translate}} </a></li>
          <li aria-haspopup="true"><a href="#"> {{'About Us'|translate}} </a></li>

          <li aria-haspopup="true">
            <a [routerLink]="['/products']"> {{'Products'|translate}} </a>
          </li>
          <li aria-haspopup="true">
            <a [routerLink]="['/']"> {{'Sell Product'|translate}} </a>
          </li>
        </ul>
      </nav>
      <!--Nav-->
    </div>
  </div>
</div>
