<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8" *ngFor="let product of products">
    <div class="item box-shadow">
      <div class="card card mb-0 ">
  <span class="ribbon-1">
		<img src="assets/images/farm_logo/{{product.production_type.slug}}.jpg" alt=""
    width="50">
												</span>
        <div class="item-card7-imgs">
          <a
            [routerLink]="['/products/detail/',product.producer_address_id,product.fruit_and_vegetable_sub_group.slug,product.detailed_name_slug,product.producer_address.city.city_name_slug]" ></a>
          <img *ngIf="product.document[0]" src="{{baseUrl+product.document[0].path}}" alt="img" class="cover-image">
          <img *ngIf="!product.document[0]" src="https://via.placeholder.com/267x226?=Çiftçi+Pazaryeri" alt="img" class="cover-image">
        </div>
        <div class="item-card7-overlaytext">
     <!--     <a href="#" class="text-white"> {{product.total_amount}} {{product.total_amount_quantity}} </a>-->
          <h4  class="mb-0">{{product.price}} {{product.price_per_quantity}}</h4>
        </div>
        <div class="pm card-body">
          <div class="item-card7-desc">
            <div class="item-card7-text">
              <a [routerLink]="['/products/detail/',product.producer_address_id,product.fruit_and_vegetable_sub_group.slug,product.detailed_name_slug,product.producer_address.city.city_name_slug]"
                 class="text-dark"><h4 class="">{{product.detailed_name}}</h4></a>
            </div>
            <ul class="item-cards7-ic mb-0">
           <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.fruit_and_vegetable_sub_group.slug,product.detailed_name_slug,product.producer_address.city.city_name_slug]"><span class="text-muted"><i class="fa fa-balance-scale"></i> {{product.total_amount}} {{product.total_amount_quantity}}</span></a></li>
              <li><a [routerLink]="['/products/detail/',product.producer_address_id,product.fruit_and_vegetable_sub_group.slug,product.detailed_name_slug,product.producer_address.city.city_name_slug]" class="icons"><i class="fa fa-map-marker mr-1"></i> {{product.producer_address.city_name}} / {{product.producer_address.district_name}}</a></li>
             <!-- <li><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 14 675 65430</a></li>-->
            </ul>

          </div>
        </div>
        <div class="card-footer pm-footer">
          <div class="footerimg d-flex mt-0 mb-0">
            <div class="d-flex footerimg-l mb-0">
         <!--     <img src="/assets//images/faces/male/17.jpg" alt="image" class="avatar brround  mr-2">-->
              <i class="icon icon-people mt-1 mr-1"></i>
              <h5 class="time-title text-muted p-0 leading-normal mt-0 mb-0">{{product.producer_address.producer_name}}<i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="verified"></i></h5>
            </div>
            <div class="mt-2 footerimg-r ml-auto">
              <a href="#" class="text-muted" data-toggle="tooltip" data-placement="top" title="Add Wishlist"><i class="fa fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

