<div class="card mb-0">
  <div class="card-header">
    <h3 class="card-title">{{'Edit Profile' | translate}}</h3>
  </div>

  <div class="card-body">
    <app-alert *ngIf="messages.length > 0 "
               [alertData]="messages"
               [alertStatus]="status">
    </app-alert>
    <div class="row">

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <div class="form-row">

          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label class="form-label">{{'Name Surname' | translate}}</label>
              <input type="text" class="form-control" placeholder="{{'Name Surname' | translate}}"
                     formControlName="name">

              <span class="text-danger"
                    *ngIf="(profileForm.get('name').dirty ||
    profileForm.get('name').touched) &&
    profileForm.get('name').invalid &&
    profileForm.get('name').errors.required"
              >
   {{'Name is required.' | translate}}
  </span>
              <br/>
            </div>
          </div>

          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label class="form-label">{{'Email address' | translate}}</label>
              <input type="email" class="form-control" placeholder="Email"
                     formControlName="email">

                      <span class="text-danger"
                      *ngIf="(profileForm.get('email').dirty ||
                      profileForm.get('email').touched) &&
                      profileForm.get('email').invalid &&
                      profileForm.get('email').errors.required"
                      >
                      {{'Email is required.' | translate}}
                      </span>
                      <span class="text-danger"
                      *ngIf="(profileForm.get('email').dirty ||
                      profileForm.get('email').touched) &&
                      profileForm.get('email').invalid &&
                      profileForm.get('email').errors"
                      >
                      {{'Value has to be a valid email address.' | translate}}

                      </span>

            </div>
          </div>

          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label class="form-label">{{'Phone Number'| translate}}</label>
              <input type="text" class="form-control"
                     placeholder="{{'Phone Number'| translate}}"  mask="(000) 000 00 00" [validation]="true"
                     formControlName="mobile">

              <span class="text-danger"
                    *ngIf="(profileForm.get('mobile').dirty ||
                      profileForm.get('mobile').touched) &&
                      profileForm.get('mobile').invalid &&
                      profileForm.get('mobile').errors.required"
              >
                      {{'Phone Number is required.' | translate}}
                      </span>
            </div>
          </div>

        </div>
        <hr>
        <div class="form-row">

          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label class="form-label">{{'Password'| translate}}</label>
              <input type="password" class="form-control" placeholder="Password"
                     formControlName="password">
            </div>
          </div>

          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label class="form-label">{{'Confirm Password'| translate}}</label>
              <input type="password" class="form-control" placeholder="Confirm Password"
                     formControlName="confirm">
            </div>
          </div>

        </div>


        <div class="card-footer">
          <button type="submit" class="btn btn-primary"
                  [disabled]="!profileForm.valid">{{'Updated Profile' | translate}}</button>
        </div>
      </form>


    </div>
  </div>
</div>


