@import './assets/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css';
@import './assets/css/dashboard.css';
@import './assets/css/icons.css';
@import './assets/plugins/Horizontal2/Horizontal-menu/dropdown-effects/fade-down.css';
@import './assets/plugins/Horizontal2/Horizontal-menu/horizontal.css';
@import './assets/plugins/select2/select2.min.css';
@import './assets/plugins/scroll-bar/jquery.mCustomScrollbar.css';
@import './assets/webslidemenu/color-skins/color1.css';
@import './assets/css/custom.css';


.ngx-pagination {

  :hover{
    background: #eaecfb !important;
  }
  li {

    a {
      padding: .5rem .75rem !important;
      color: #605e7e !important;
      background-color: #fff !important;
      border: 1px solid #dee2e6 !important;

      position: relative !important;
      display: block !important;
      margin-left: -1px !important;
      line-height: 1.25 !important;
    }
  }
  .current:hover {
    background: #eaecfb !important;
    border: transparent !important;
    color: #ec296b;
  }

  .current {
    background: #ec296b !important;
  }
}


