<!-- Categories-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Categories</h2>
      <p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
    </div>
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets//images/products/categories/loan.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Real Estate</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets//images/products/categories/dress.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Clothing</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets//images/products/categories/store.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Restaurant</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img text-shadow1">
                <img src="../../assets//images/products/categories/delivery-truck.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Vehicle</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets//images/products/categories/call-center.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Services</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets//images/products/categories/makeover.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Beauty</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets//images/products/categories/graduation.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Education </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets//images/products/categories/workspace.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Computer</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets/images/products/categories/sketch.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Construction</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets/images/products/categories/furniture.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Furnitures</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets/images/products/categories/electronics.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Electronics</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
        <div class="card bg-card-light">
          <div class="card-body">
            <div class="cat-item text-center">
              <a href="classifieds-list.html"></a>
              <div class="cat-img">
                <img src="../../assets/images/products/categories/heart.png" alt="img">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">Health</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Categories-->
