
<!-- Categories-->
<section class="sptb bg-white mt10">
  <div class="container">
    <div class="row">


      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6" *ngFor="let category of categories">
        <div class="card bg-card">
          <div class="card-body">
            <div class="cat-item text-center">
              <a [routerLink]="['/products']" [queryParams]="{action : 'search', category: category?.slug}"></a>
              <div class="cat-img text-shadow1">
                <img src="/assets/fonts/fonts/{{category.image}}" alt="">
              </div>
              <div class="cat-desc">
                <h5 class="mb-1">{{ category.name | translate }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</section>
<!--Categories-->
